@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

.contenedor{
  display:grid;
  grid-template-columns: 1fr 1fr;
height: 100vh;
 
}
.header{
 
 
}

h3{
  text-align: left;
}
.order{
  font-weight: bold;
}
.personaje{
  margin-bottom: 3rem;
  
}

.pokedex_tops{
  display: flex;
  flex-direction: row;
}
.stats{
  margin-top: 5px;
}
li{
  margin-top: 10px;
  padding: 5px;
}
ul{
  padding-inline-start: 20px;
  
}
.footer{
 
  position: relative;
  bottom: 0;
  width: 100%;
  
 
}

@media (max-width:900px){
  .contenedor{
     display: inline;
     height: 50vw;
  }
}